/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.desktop-view {
		display: none;
	}
	.hero-heading {
		text-align: center;
		margin-left: auto;
	}
	.sub-hero-card {
		width: 90%;
	}
	.sub-hero-heading {
		text-align: center;
	}
	.sub-hero-brake {
		display: none;
	}
	.sub-hero-image {
		display: none;
	}
	.features-image {
		margin-top: 50px;
	}
	.features-heading {
		margin-top: 10px;
	}
	.features-heading {
		text-align: center;
	}
	.features-sub-heading {
		text-align: center;
		width: 100%;
	}
	.web-view {
		display: none;
	}
	.call-to-action-button {
		margin-top: 0px;
		margin-bottom: 50px;
	}
	.search-filter-input-box {
		padding-left: 0px;
		padding-right: 0px;
	}
	.desktop-view-item-details {
		display: none;
	}

	.item-title {
		padding: 10px 10px 0px;
	}
	.total-listing-label-sort-by {
		margin-top: 20px;
		padding: 10px;
	}
	.form-signin {
		margin-top: 130px !important;
	}
	.first-name {
		margin-bottom: 16px;
	}
	.form-signup {
		margin-top: 50px;
	}
	.preview-image-remove-button {
		border-radius: 100%;
		position: relative;
		height: 32px;
		width: 32px;
		left: 55%;
		top: 21%;
	}
	.manage-item-preview-image-col {
		display: none;
	}
	.manage-item-holder {
		margin: 50px 0px 0px 0px;
		padding: 40px 5px 40px 5px;
	}
	.lost-item-input-label {
		width: 95%;
	}
	.found-item-input-label {
		width: 95%;
	}
	.user-profile-holder {
		padding: 20px 20px 0px 20px;
		margin: 1% 1% 0px 1%;
	}
	.user-name-holder {
		margin-top: 0px;
	}
}

/* Web-view style */
@media only screen and (min-width: 600px) {
	.mobile-view {
		display: none;
	}
	.mobile-view-item-details {
		display: none;
	}
	.users-listings {
		padding-left: 50px;
	}
	.preview-image-remove-button {
		border-radius: 100%;
		position: relative;
		left: 82%;
		top: 21%;
	}
}
